* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  background: linear-gradient(-45deg, #82b6eb, #806cdb, #bd93ee, #7e7a7a00);
  background-size: 400% 400%;
  animation: gradientMove 12s ease infinite;
  color: #000;
}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

header {
  background-color: #160b36;
  color: white;
  font-weight: bold;
  box-shadow: 0 4px 20px rgba(25, 0, 255, 0.3);
  text-align: center;
  padding: 20px 0;
}

main {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.card {
  background: #3a1d92;
  padding: 30px;
  border-radius: 15px;
  max-width: 450px;
  width: 100%;
  color: white;
}

h2 {
  text-align: center;
  color: white;
}

label {
  font-weight: bold;
  display: block;
  margin-top: 10px;
}

input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  margin-top: 5px;
  border: 2px solid white;
}

.error {
  color: #ff3333;
  height: 16px;
  font-size: 0.9rem;
  margin: 3px 0 5px;
}

.botones {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 15px;
}

button {
  flex: 1;
  padding: 10px;
  background-color: #441eb8;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  color: white;
}

button:hover {
  background-color: #160b36;
}

.progreso-container {
  width: 100%;
  background: #e0e0e0;
  height: 12px;
  border-radius: 10px;
  margin-top: 20px;
}

#barraProgreso {
  height: 100%;
  width: 0%;
  background: #00ff22;
  border-radius: 10px;
  transition: width .3s;
}

.datosMostrados {
  margin-top: 25px;
  display: none;
  background: white;
  padding: 15px;
  border-radius: 10px;
  color: black;
}

.cardRegistro {
  background: #eee;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  border-left: 4px solid #441eb8;
}

.btnEliminar {
  background: red;
  color: white;
  padding: 6px 12px;
  border: none;
  border-radius: 6px;
  margin-top: 8px;
  cursor: pointer;
}

footer {
  background: #160b36;
  color: white;
  padding: 15px 0;
  margin-top: 40px;
}
